*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
  }
  
  li {
    list-style: none;
  }

#contact_modal {
    display: none;
}

header {
    margin: auto;
    padding: 2rem 1.5rem;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 0 4%;
    border-radius: 0.6rem;
}

h1.banner-title {
    margin: 0 6.25rem 0 0;
    color: #d3573c;
    font-size: 4rem;
}

.banner-location {
    margin-bottom: 1rem;
    color: #901c1c;
    font-size: 1.5rem;
    font-weight: 300;
}

.banner-img img {
    width: 12.5rem;
    height: 14.6875rem;
    border-radius: 50%;
    padding: 1.25rem 0 0.9375rem 0;
}

.banner-btn {
    font-size: 1.25rem;
    color: #fff;
    width: auto;
    padding: 0.9rem 0.5rem;
    font-weight: 300;
    border: none;
    background-color: #901C1C;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.modal-btn-mobile, .banner-btn {
    background-color: #901C1C; 
    color: #fff;
    border: none;
    transition: all 0.2s ease-in;
    border-radius: 0.4375rem;
    cursor: pointer;
}

.img-size {
    width: 1.25rem;
}

.banner-btn:hover {
    background-color: #d3573c;
    color: rgb(17, 16, 16);
}

.modal-btn-mobile:hover {
    background-color: #d3573c;
    color: rgb(17, 16, 16);
}

.filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 3rem 3%;
    font-weight: 500;
}

#sortBy {
    margin-right: 2rem;
    font-size: 1.2rem;
}

.filter-select {
    display: flex;
    flex-direction: column;
}

.filter span {
    margin-right: 2rem;
    font-size: 1.2rem;
}

.filter-select__trigger {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem 0 1rem;
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    height: 3.5rem;
    line-height: 6rem;
    background: #901c1c;
    border-radius: 5px;
    cursor: pointer;
}

.filter-options-container {
    position: absolute;
    display: block;
    top: 27.15rem;
    /* left: 12.3rem; */
    /* right: 34.313rem; */
    background: #901c1c;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    min-width: 168px;
}

.filter-select.open .filter-options-container {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  
  .filter-select.open .filter-select__trigger {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .filter-option {
    position: relative;
    display: block;
    margin: 0 1rem 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    line-height: 3rem;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .filter-option:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .filter-option.selected {
    display: none;
  }
  
  .filter-option:not(.selected) {
    border-top: solid 0.1rem #fff;
  }

  .close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1.modal-title{
    color: #312E2E;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 1.5625rem
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 0.8rem;
}

form input {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 130px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0.5rem;
}

.formData[data-error-visible="true"] .text-control {
    border: #e548586f;
    box-shadow: 0 0 20px #901c1c;
  }
  
  .formData[data-error-visible="false"] .text-control {
    border: #48e5846a;
    box-shadow: 0 0 20px #42e6a7;
  }
  
.formData small {
    color: #fff;
    text-shadow: #040404 0px 3px 5px;
    font-size: 0.8rem;
  }

.modal-btn-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 300px;
    padding: 0.9rem 0.5rem;
    font-size: 1.2rem;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.dialog.opened {
    /* display: block; */
    visibility: visible;
    transition: visibility 0s;
  }

  .overlay {
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(107, 107, 107, 0.7);
      overflow: hidden;
      transition: opacity 0.4s 0.2s ease-out;
      z-index: 100;
  }

  .dialog.opened .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  
  .dialog {
    /* display: none; */
    visibility: hidden;
    transition: visibility 0.4s;
  }

.dialog-windows {
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #db8876;
    border-radius: 0.6rem;
    color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% - 100px));
    padding: 2rem;
    z-index: 150;
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
}

.dialog.opened .dialog-windows {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}


.btn-submit.button {
    background: #901c1c;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 0.6rem;
    width: auto;
    padding: 1.5rem;
    font-size: 1rem;
    line-height: 0;
    cursor: pointer;
}

.btn-submit.button:hover {
    background-image: linear-gradient(90deg, #f6fdff 0%,#db8876 49%, #f06161 80%, #ecf0f2 100%);
    animation:slidebg 2s 0.3s linear infinite;
}

@keyframes slidebg {
    to {
      background-position:30vw;
    }
  };

.total-likes-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    position: fixed;
    padding: 0.5rem 1rem;
    bottom: 0;
    right: 5%;
    background-color: #db8876;
    height: auto;
    width:  250px;
    border-radius: 0.6rem 0.6rem 0 0;
    color: black;
}

.arrow {
    position: relative;
    height: 0.9rem;
    width: 0.9rem;
}

.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.arrow::before {
    left: -0.05rem;
    transform: rotate(45deg);
    background-color: #fff;
}

.arrow::after {
    left: 0.55rem;
    transform: rotate(-45deg);
    background-color: #fff;
}

.open .arrow::before {
    left: -0.1rem;
    transform: rotate(-45deg);
  }
  
  .open .arrow::after {
    left: 0.5rem;
            transform: rotate(45deg);
  }

  .total-likes-container {
    justify-content: space-around;
    margin: auto;
    align-items: center;
    position: fixed;
    padding: 0.5rem 1rem;
    bottom: 0;
    right: 5%;
    background-color: #db8876;
    height: auto;
    width: auto;
    border-radius: 0.6rem 0.6rem 0 0;
    color: black;
  }

@media screen and (max-width: 680px) {
    .banner-title {
        margin: 0;
    }
}

@media screen and (min-width: 822px) {
    .modal-btn-mobile {
         display: none;
    }
    .dialog-windows {
        max-width: 380px;
        height: auto;
    }
    form input {
        height: 2.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 822px) {
    .banner-btn {
        display: none;
    }
    .total-likes-container {
        display: none;
    }
    form input {
        height: 1.5rem;
        padding: 0 0 5px 0;
    }
}

@media screen and (max-width: 672px) {
    .dialog-windows {
        width: 80%;
        height: 70%;
    }
}

@media screen and (max-width: 822px) {
    .dialog-windows {
        width: 360px;
        height: auto
    }
}

/* @media screen and (max-width: 480px) {
    .filter-options-container {
        top: 21rem;
    }
} */


@media screen and (max-width: 488px) {
    h1.banner-title {
        margin: 0 0.25rem 0 0;
        font-size: 2rem;
    }

    .banner-img img {
        width: 140px;
        height: 175px;
    }
    #sortBy {
        font-size: 1.5rem;
    }

    .filter-select__trigger {
        height: 2.5rem;
    }

    .filter span {
        font-size: 1rem;
    }
    
    .filter-options-container {
       top: 25.75rem; 
       min-width: 9.5625rem;
    }
    .modal-btn-mobile {
        width: 140px;
        max-width: 200px;
        font-size: 1rem;
    }
    .modal-close {
        font-size: 2rem;
    }

    .dialog-windows {
        width: 90%;
        height: auto;
    }

    form label {
        font-size: 1.5rem;
    }

    form input {
        height: 2.5rem;
    }
}

@media screen and (max-width: 420px) {
    #modal-title {
        font-size: 1.2rem;
    }
    form label {
        font-size: 1.2rem;
    }

    form input {
        height: 1.8125rem;
        padding: 0 0 2px 0;
    }

    .btn-submit.button {
        padding: 20px;
    }
    .filter-options-container {
        top: 23.8rem;
    }
}

@media screen and (max-width: 360px) {
    .filter-options-container {
        top: 22.3rem;
    }
    .filter-option {
        font-size: 1rem;
    }
}
   
