/* RESET */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}
/* END RESET */

/* INDEX CSS PART */

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 2.5rem;
}

.main {
  margin: 0 2rem;
  height: auto;
}

.logo {
  display: flex;
  position: relative;
  max-width: 200px;
  margin-left: 50%;
  cursor: pointer;
  top: 6px;
}

h1.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10%;
  font-size: 1.8rem;
  font-weight: 300;
  color: #901c1c;
}

.photographers_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.card_photographer {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card_photographer__link {
  min-width: 258px;
  text-align: center;
  text-decoration: none;
  filter: sepia(0);
  transition: 0.3s ease-in-out;
}

.card_photographer__link:hover {
  transform: scale(1.02);
  filter: sepia(100%);
  transition: 0.3s ease-in-out;
}

.card-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  cursor: pointer;
}

.card-img:hover {
  box-shadow: 0 0.625rem 0.625rem olive;
}

.card_photographer h2 {
  margin: 0;
  text-align: center;
  color: #d3573c;
  font-size: 1.5rem;
  font-weight: 300;
}

.card_photographer__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.card_photographer__location {
  color: #901c1c;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

.card_photographer__tagline,
.card_photographer__price {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5;
}

.card_photographer__tagline {
  margin: 0;
  font-weight: 600;
}

.card_photographer__price {
  color: #706f6f;
}
/* END INDEX CSS PART */

/* PHOTOGRAPHER CSS PART */
#header {
  margin: 0;
}
#header .header-top {
  margin: 2rem 0;
}

/* .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 0 0;
  } */

#main {
  margin: 0 7rem;
}

.photographer_presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 0 4%;
  border-radius: 0.6rem;
}

.photographer_presentation__picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.photographer_presentation__picture img {
  width: 150px;
height: 150px;
border-radius: 50%
}

.photographer_presentation__data h1 {
  width: auto;
  margin: 0 1.25rem 0 0;
  color: #d3573c;
  font-size: 2rem;
}

.banner-location {
  color: #901c1c;
  font-size: 1rem;
  font-weight: 300;
}

.banner-img img {
  width: 10.5rem;
  height: 13rem;
  border-radius: 50%;
  padding: 1.25rem 0 0.9375rem 0;
  object-fit: fill;
}

.modal-btn {
  display: none;
}

.modal-btn-mobile,
.modal-btn {
  font-size: 1.25rem;
  background-color: #901c1c;
  color: #fff;
  padding: 0.9rem 0.5rem;
  font-weight: 300;
  border: none;
  transition: all 0.2s ease-in;
  border-radius: 0.4375rem;
  cursor: pointer;
}

.total-likes-container {
  opacity: 1;
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  position: fixed;
  padding: 0.5rem 1rem;
  bottom: 0;
  right: 5%;
  background-color: #db8876;
  height: auto;
  width: auto;
  font-size: 1.2rem;
  border-radius: 0.6rem 0.6rem 0 0;
  color: black;
  z-index: 500;
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}

.total-likes {
  width: 60px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.price-container {
  width: 115px;
  display: flex;
  justify-content: flex-end;
}
.dialog {
  visibility: hidden;
  transition: visibility 0.4s;
}

.dialog.opened {
  visibility: visible;
  transition: visibility 0s;
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(231 226 226 / 65%);
  overflow: hidden;
  transition: opacity 0.4s 0.2s ease-out;
  z-index: 100;
}

.dialog.opened .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.dialog-windows {
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #db8876;
  border-radius: 0.6rem;
  color: black;
  width: 350px;
  height: 65vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 100px));
  padding: 1.5rem;
  z-index: 150;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.dialog.opened .dialog-windows {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}
.close-btn {
  position: relative;
  bottom: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1.modal-title {
  margin-top: -60px;
  /* margin-bottom: 10px; */
  font-size: 1.5rem;
  color: #312e2e;
}

.img-size {
  width: 1.25rem;
}

.modal-btn:hover,
.modal-btn-mobile:hover {
  background-color: #d3573c;
  color: rgb(17, 16, 16);
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 0.8rem;
}

/* form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  } */

form input {
  width: 100%;
  height: auto;
  font-size: initial;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0 0 0;
  line-height: 1.4;
}

form label {
  color: #312e2e;
  font-size: 1.2rem;
}

form textarea {
  width: 100%;
  height: 130px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.formData[data-error-visible="true"] .text-control {
  border: #e548586f;
  box-shadow: 0 0 20px #901c1c;
}

.formData[data-error-visible="false"] .text-control {
  border: #48e5846a;
  box-shadow: 0 0 20px #42e6a7;
}

.formData small {
  color: #fff;
  text-shadow: #040404 0px 3px 5px;
  font-size: 0.8rem;
}

.modal-btn-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 300px;
  padding: 0.9rem 0.5rem;
  font-size: 1.2rem;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.btn-submit.button {
  background: #901c1c;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 0.6rem;
  width: auto;
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 0;
  cursor: pointer;
}

.btn-submit.button:hover {
  background-image: linear-gradient(
    90deg,
    #f6fdff 0%,
    #db8876 49%,
    #f06161 80%,
    #ecf0f2 100%
  );
  animation: slidebg 2s 0.3s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 30vw;
  }
}

.btn-submit.sent {
  height: 20vh;
}

.btn-submit.sent h1.modal-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: baseline;
  margin-top: -60px;
  margin-left: 35px;
}

.btn-submit.sent .img-size {
  position: relative;
  bottom: 20px;
}

/* SORT BY */
.photographer_gallery_sorting {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  /* line-height: 23px; */
  color: #000000;
  margin: 20px 0 0 0;
  height: 60px;
}

.photographer_portfolio__sorted_by #sortBy {
  width: 100px;
  line-height: 2.3;
}

.dropdown_menu .listbox {
  position: relative;
  width: 130px;
  color: #fff;
}
/* .dropdown_menu .listbox i {
  position: absolute;
  right: 10px;
  top: 23px;
} */

.photographer_portfolio__sorted_by .dropdown_menu {
  display: flex;
  flex-direction: column;
  width: 130px;
  left: 200px;
  margin-top: 5px;
  position: absolute;
  padding: 7px 15px;
  background: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

.dropdown_menu .listbox {
  color: #fff;
}

 .dropdown_menu .listbox i{
  position: absolute;
  right: 26px;
  top: 4px;
}

.dropdown_menu .fa-angle-up {
  display: none;
}

.dropdown_menu .hidden {
  display: none;
}

.dropdown_menu button {
  display: none;
  width: 100px;
  background: inherit;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* END SORT BY */

.media_card__container {
  display: grid;
  position: relative;
  top: 14px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  column-gap: 66px;
  row-gap: 45px;
}

.media_card {
  color: #901c1c;
}

.media_card__media,
.img-card,
.video-card {
  width: 100%;
  height: 50vh;
  border-radius: 0.2rem;
  object-fit: fill;
  cursor: pointer;
  pointer-events: visible;
  transition: 0.7s ease-in-out;
}

.img-card:hover,
.video-card:hover {
  transform: rotate3d(2, -1, 1, 5deg);
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  /* box-shadow: -0.5px 60px 65px #121212a5; */
  animation: morph 2s ease-in-out infinite;
}
@keyframes morph {
  0% {
    border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  }
  50% {
    border-radius: 50% 60% 50% 50% / 50% 50% 50% 60%;
  }
  100% {
    border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  }
}
.fa-play-circle {
  position: absolute;
  margin-top: -335px;
  font-size: 3rem;
  background: transparent;
  color: #fbfbfb96;
}

.play-icon {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: relative;
  bottom: 68px;
  transition: 0.6s ease-in-out;
}

.media_card__media:hover .play-icon {
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.media_card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  font-size: 1.5em;
}
.media_card__footer .media_card__title {
  width: 160px;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#lightbox {
  position: fixed;
  border: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.lightbox__close {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 150px;
  height: 50px;
  top: 20px;
  right: 20px;
}

.lightbox__close, .lightbox__previous, .lightbox__next {
  background-color: transparent;
  color: #901C1C;
  font-size: 42px;
}

.lightbox__container__media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 50px);
}

.lightbox__container__media img, .lightbox__container__media video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lightbox__container__title {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 24px;
  line-height: 50px;
  text-align: left;
  color: #911C1C;
}

.lightbox__next, .lightbox__previous {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  top: 50%;
  margin-top: -250px;
  right: 20px;
  width: 150px;
  height: 500px;
  z-index: 11;
}

.lightbox__previous {
  right: auto;
  left: 20px;
}

.lightbox__close span, .lightbox__previous span, .lightbox__next span {
  cursor: pointer;
}

/* END PHOTOGRAPHER CSS PART */

/* MEDIA QUERIES */

@media screen and (min-width: 678px) {
  .modal-btn {
    display: block;
  }
  .modal-btn-mobile {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .photographers_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }
}

@media screen and (max-width: 360px) {
  header {
    margin: 2.5rem 0;
    justify-content: center;
  }
  .logo {
    max-width: 100px;
    margin-left: 0;
  }

  .card_photographer {
    width: 200px;
  }

  h1.main-title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.5rem;
  }
}
