/* RESET */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}
/* END RESET */

/* INDEX CSS PART */

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 2.5rem;
}
.main {
  margin: 0 2rem;
  height: auto;
}
.logo {
  display: flex;
  position: relative;
  max-width: 200px;
  margin-left: 50%;
  cursor: pointer;
  top: 6px;
}
h1.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10%;
  font-size: 1.8rem;
  font-weight: 300;
  color: #901c1c;
}
.photographers_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.card_photographer {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card_photographer__link {
  min-width: 258px;
  text-align: center;
  text-decoration: none;
  filter: sepia(0);
  transition: 0.3s ease-in-out;
}
.card_photographer__link:hover {
  transform: scale(1.02);
  filter: sepia(100%);
  transition: 0.3s ease-in-out;
}
.badge-card {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  cursor: pointer;
}
.badge-card:hover {
  box-shadow: 0 0.625rem 0.625rem olive;
}
.card_photographer h2 {
  margin: 0;
  text-align: center;
  color: #d3573c;
  font-size: 1.5rem;
  font-weight: 300;
}
.card_photographer__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
.card_photographer__location {
  color: #901c1c;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}
.card_photographer__tagline,
.card_photographer__price {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5;
}
.card_photographer__tagline {
  margin: 0;
  font-weight: 600;
}
.card_photographer__price {
  color: #706f6f;
}
/* END INDEX CSS PART */

/* PHOTOGRAPHER CSS PART */
#header {
  margin: 0;
}
#header .header-top {
  margin: 2rem 0;
}
#main {
  margin: 0 5rem;
}
.photographer_ID {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 0 4%;
  border-radius: 0.6rem;
}
.photographer_ID__picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  gap: 5px;
}
.photographer_ID__picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.photographer_ID__data h1 {
  width: auto;
  margin: 0 1.25rem 0 0;
  color: #d3573c;
  font-size: 2rem;
}
.banner-location {
  color: #901c1c;
  font-size: 1rem;
  font-weight: 300;
}
.banner-img img {
  width: 10.5rem;
  height: 13rem;
  border-radius: 50%;
  padding: 1.25rem 0 0.9375rem 0;
  object-fit: fill;
}
.modal-btn {
  display: none;
}
.modal-btn-mobile,
.modal-btn {
  font-size: 1.25rem;
  background-color: #901c1c;
  color: #fff;
  padding: 0.9rem 0.5rem;
  font-weight: 300;
  border: none;
  transition: all 0.2s ease-in;
  border-radius: 0.4375rem;
  cursor: pointer;
  animation: appear 1.5s ease-in-out;
}
#sticky_footer {
  opacity: 1;
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  position: fixed;
  padding: 0.5rem 1rem;
  bottom: 0;
  right: 3%;
  background-color: #db8876;
  height: auto;
  width: auto;
  font-size: 1.2rem;
  border-radius: 0.6rem 0.6rem 0 0;
  color: black;
  z-index: 20;
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}
.total-likes {
  width: 60px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.price-container {
  width: 115px;
  display: flex;
  justify-content: flex-end;
}
.dialog {
  visibility: hidden;
  transition: visibility 0.4s;
}
.dialog.opened {
  visibility: visible;
  transition: visibility 0s;
}
.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(231 226 226 / 65%);
  overflow: hidden;
  transition: opacity 0.4s 0.2s ease-out;
  z-index: 100;
}
.dialog.opened .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
.dialog-windows {
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #db8876;
  border-radius: 0.6rem;
  color: black;
  width: 350px;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 100px));
  padding: 1.5rem;
  z-index: 150;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}
.dialog.opened .dialog-windows {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}
.close-btn {
  position: relative;
  bottom: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1.modal-title {
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #312e2e;
}
.img-size {
  width: 1.25rem;
}
.modal-btn:hover,
.modal-btn-mobile:hover {
  background-color: #d3573c;
  color: rgb(17, 16, 16);
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 0.8rem;
}

form input {
  width: 100%;
  height: auto;
  font-size: initial;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0 0 0;
  line-height: 1.4;
}
form label {
  color: #312e2e;
  font-size: 1.2rem;
}

form textarea {
  width: 100%;
  height: 130px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0.5rem;
}
.formData[data-error-visible="true"] .text-control {
  border: #e548586f;
  box-shadow: 0 0 20px #901c1c;
}
.formData[data-error-visible="false"] .text-control {
  border: #48e5846a;
  box-shadow: 0 0 20px #42e6a7;
}
.formData small {
  color: #fff;
  text-shadow: #040404 0px 3px 5px;
  font-size: 0.8rem;
}
.modal-btn-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 300px;
  padding: 0.9rem 0.5rem;
  font-size: 1.2rem;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn-submit {
  background: #901c1c;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 0.6rem;
  width: auto;
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 0;
  cursor: pointer;
}
.btn-submit:hover {
  background-image: linear-gradient(
    90deg,
    #f6fdff 0%,
    #db8876 49%,
    #f06161 80%,
    #ecf0f2 100%
  );
  animation: slidebg 2s 0.3s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 30vw;
  }
}
.dialog-windows.sent {
  height: 20vh;
}
.dialog-windows.sent h1.modal-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: baseline;
  margin-top: -20px;
  margin-left: 35px;
}
.dialog-windows.sent .img-size {
  position: relative;
  bottom: 20px;
}
/* SORT BY */
.photographer_gallery__sorted_by #sortBy {
  width: 100px;
}
.photographer_gallery__sorted_by {
  display: flex;
  line-height: 3;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin: 30px 0 10px 0;
  height: 60px;
}
.photographer_gallery__sorted_by .dropdown_menu {
  display: flex;
  flex-direction: column;
  width: 130px;
  position: absolute;
  margin-top: 3px;
  left: 200px;
  border-radius: 5px;
  background: #901c1c;
  cursor: pointer;
  z-index: 10;
}
.dropdown_menu .listbox {
  position: relative;
  width: 130px;
  color: #fff;
}
.active_option {
  padding-left: 10px;
}
.dropdown_menu .listbox i {
  position: absolute;
  right: 10px;
  top: 19px;
}
.dropdown_menu .fa-angle-up {
  display: none;
}
.dropdown_menu .hidden {
  display: none;
}
.dropdown_menu button {
  display: none;
  font-family: inherit;
  background: inherit;
  font-size: inherit;
  color: #fff;
  border: none;
  position: relative;
  width: 130px;
  padding: 10px 0;
  cursor: pointer;
  animation: dropdown .3s ease-in-out;
}
@keyframes dropdown {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.dropdown_menu > button {
  border-top: 1px solid #fff;
}
.dropdown_menu > button:last-child {
  border-radius: 0 0 5px 5px;
}
/* END SORT BY */

.media_card__container {
  display: flex;
  top: 14px;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  align-items: center;
  row-gap: 35px;
  column-gap: 65px;
}
.media_card {
  color: #901c1c;
}
.media_card__media .picture-card,
.video-card {
  width: 100%;
  height: 360px;
  border-radius: 0.2rem;
  object-fit: cover;
  cursor: pointer;
  pointer-events: visible;
  transition: 0.7s ease-in-out;
}
.picture-card:hover,
.video-card:hover {
  animation: flash 1.2s;
}
@keyframes flash {
  0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.fa-play-circle {
  position: absolute;
  margin-top: -335px;
  font-size: 3rem;
  background: transparent;
  color: #fbfbfb96;
}
.play-icon {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: relative;
  bottom: 68px;
  transition: 0.6s ease-in-out;
}
.media_card__media:hover .play-icon {
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.media_card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  font-size: 1.5em;
}
.media_card__footer .media_card__title {
  width: 150px;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#lightbox {
  position: fixed;
  display: none;
  border: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  z-index: 600;
  animation: lightboxIn 0.5s;
  transition: 0.3s;
}
#lightbox.fadeOut {
  opacity: 0;
}
#lightbox.active {
  display: block;
}
@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.lightbox__close {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 70px;
  height: 50px;
  top: 20px;
  right: 0;
  z-index: 12;
}
.lightbox__close,
.lightbox__next,
.lightbox__previous {
  background-color: transparent;
  color: #901c1c;
  font-size: 42px;
}
.lightbox__container, .lightbox__container.second {
  width: 75%;
  position: relative;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 95vh;
}
.lightbox__container.second {
  min-height: 5vh;
}
.lightbox__container .lightbox-picture-card {
  width: 100%;
  min-height: 40vh;
  max-height: 83vh;
  object-fit: cover;
  animation: lightboxIn 0.5s;
}
.lightbox__container .lightbox-video-card {
  height: calc(28vh - 10vh);
}
.lightbox__container__title {
  width: auto;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 50px;
  color: #911c1c;
  position: fixed;
  margin-left: -11rem;
  display: grid;
  grid-template-columns: minmax(183px, 1fr);
  bottom: 202px;
}
.lightbox__next,
.lightbox__previous {
  border: none;
  width: 50px;
  height: 100%;
  position: fixed;
  margin-top: -14px;
  top: 0;
  right: 0;
  z-index: 11;
}
.lightbox__previous {
  right: auto;
  left: 0;
}
#lightbox button {
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s;
}
#lightbox button:hover {
  opacity: 1;
}
/* END PHOTOGRAPHER CSS PART */

/* MEDIA QUERIES */
@media screen and (min-width: 1980px) {
  .lightbox__container .lightbox-picture-card {
    width: 50%;
  }
  .lightbox__container .lightbox-video-card {
    height: 100%;
  }
  .lightbox__container__title {
    margin-left: 24rem;
    font-size: 30px;
    bottom: 10px;
  }
}
@media screen and (min-width: 2025px) {
  .lightbox__container .lightbox-picture-card {
    width: 100%;
  }
  .lightbox__container__title {
    margin-left: 2rem;
    font-size: 30px;
    bottom: 10px;
  }
}
@media screen and (min-width: 1920px) {
  .photographer_ID {
    padding: 2% 4%;
  }
  .photographer_ID__data h1 {
    font-size: 4rem;
  }
  .photographer_ID__data .location,
  .tagline {
    font-size: 1.5rem;
  }
  .photographer_ID__data .location {
    color: #901c1c;
  }
  .photographer_ID__picture img {
    width: 300px;
    height: 300px;
    object-fit: fill;
  }
  .modal-btn {
    font-size: 1.75rem;
  }
  .media_card {
    width: 28vw;
  }
  .media_card__media .picture-card,
  .video-card {
    height: 500px;
  }
  .media_card__footer {
    font-size: 2rem;
  }
  .media_card__footer .media_card__title {
    width: 360px;
    font-size: 2rem;
  }
}
@media screen and (max-width: 1919px) {
  #main {
    margin: 0 2rem;
  }
  .media_card {
    width: 25vw;
  }
  .media_card__media .picture-card,
  .video-card {
    height: 390px;
  }
  .media_card__footer .media_card__title {
    width: 135px;
  }
}
@media screen and (max-width: 1290px) {
  .photographers_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 50px;
    height: 90vh;
  }
  .media_card__container {
    row-gap: 15px;
    column-gap: 15px;
    margin-bottom: 50px;
  }
  .media_card__media .picture-card,
  .video-card {
    height: 250px;
  }
  .play-icon {
    bottom: -42px;
  }
}
@media screen and (min-width: 1024px) {
  .media_card__footer, .media_card__footer .media_card__title {
    font-size: 1.5rem;
  }
  .lightbox__container, .lightbox__container.second {
    top: 32px;
    width: 66%;
  }
  .lightbox__container .lightbox-picture-card {
    width: calc(100% - 10px);
    height: calc(60vh + 26vh);
    object-fit: cover;
  }
  .lightbox__container .lightbox-video-card {
    height: calc(10vh + 50vh);
  }
  .lightbox__container__title {
    position: relative;
    display: grid;
    grid-template-columns: minmax(183px, 1fr);
    font-size: 1.5rem;
    margin-left: -29rem;
    bottom: 49px;
  }
}
@media screen and (max-width: 1024px) {
  .lightbox__container__title {
    margin-left: -32rem;
    background-color: rgba(255, 255, 255, 0.782);
    display: grid;
    grid-template-columns: minmax(183px, 1fr);
    top: -45rem;
    position: relative;
  }
}
@media screen and (max-width: 859px){
  .media_card {
    width: 44vw;
  }
}
@media screen and (max-width: 768px) {
  .photographers_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 30px;
  }
  h1.main-title {
    margin-left: 98px;
    margin-top: 15px;
  }
  .badge-card {
    height: 150px;
    width: 150px;
  }
  .card_photographer__link {
    min-width: 210px;
  }
  .card_photographer__tagline,
  .card_photographer__price {
    text-align: center;
    font-size: 0.7rem;
  }
  #main {
    margin: 0 1.2rem;
  }
  .media_card__container {
    row-gap: 19px;
    column-gap: 24px;
  }
  .media_card__media .picture-card,
  .video-card {
    height: 240px;
  }
  .media_card__footer {
    font-size: 1rem;
  }
  .media_card__footer .media_card__title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 678px) {
  .modal-btn {
    display: block;
  }
  .modal-btn-mobile {
    display: none;
  }
}
@media screen and (max-width: 690px)  {
  #sticky_footer {
    width: 130px;
    right: 0;
    font-size: .8rem;
    padding: .4rem .5rem;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  #main {
    margin: 0 1rem;
  }
  .lightbox__container .lightbox-picture-card {
    height: 55vh;
    object-fit: fill;
  }
  .lightbox__container .lightbox-video-card {
    height: 24vh;
  }
  .play-icon {
    bottom: -49px;
  }
  .media_card__footer .media_card__title {
    font-size: 1rem;
  }
  .media_card__footer .media_card__NumberOfLikes {
    font-size: 1rem;
  }
  .heart {
    position: relative;
    top: 1px;
  }
  #sticky_footer {
    font-size: 0.8rem;
    padding: 0.5rem 0.6rem;
    right: 0;
  }
  .total-likes {
    width: 40px;
    line-height: 1;
  }
  .price-container {
    width: 69px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 480px) {
  .photographers_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }
  #main {
    margin: 0 0.5rem;
  }
  .photographer_gallery__sorted_by .dropdown_menu {
    left: 160px;
  }
  .media_card__media .picture-card, .video-card {
    height: 375px;
  }
  .play-icon {
    bottom: 18px;
  }
  .media_card__footer .media_card__title,
  .number_of_likes,
  .heart {
    font-size: 1.2rem;
  }
  .media_card {
    width: 90vw;
  }
  .modal-btn-mobile {
    padding: 0.8rem 0.5rem;
    font-size: 1rem;
    bottom: 4rem;
  }
  .dialog-windows {
    max-width: 300px;
  }
  form textarea {
    height: 68px;
  } 
  .lightbox__close {
    right: 0;
  }
  .lightbox__close,
  .lightbox__next,
  .lightbox__previous {
    font-size: 29px;
  }
  #sticky_footer {
    padding: 0.4rem 0.3rem 0.2rem 0.3rem;
    font-size: 0.8rem;
    right: 1%;
  }
  .total-likes {
    width: 39px;
  }
}
@media screen and (max-width: 360px) {
  header {
    margin: 2.5rem 0;
    justify-content: center;
  }
  .logo {
    max-width: 100px;
    margin-left: 0;
  }
  .card_photographer {
    width: 200px;
  }
  h1.main-title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.5rem;
  }
  .photographer_ID__picture img {
    width: 130px;
    height: 130px;
  }
}