*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2.5rem;
}

#main,
.main {
  margin: 0 2rem;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

li {
  list-style: none;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 0 0;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 0 4%;
  border-radius: 0.6rem;
}

.photographer-banner-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

h1.banner-title {
  width: auto;
  margin: 0 1.25rem 0 0;
  color: #d3573c;
  font-size: 1.5rem;
}

.banner-location {
  color: #901c1c;
  font-size: 1rem;
  font-weight: 300;
}

.banner-img img {
  width: 10.5rem;
  height: 13rem;
  border-radius: 50%;
  padding: 1.25rem 0 0.9375rem 0;
  object-fit: fill;
}
.modal-btn {
  display: none;
}

.modal-btn-mobile,
.modal-btn {
  font-size: 1.25rem;
  background-color: #901c1c;
  color: #fff;
  padding: 0.9rem 0.5rem;
  font-weight: 300;
  border: none;
  transition: all 0.2s ease-in;
  border-radius: 0.4375rem;
  cursor: pointer;
}

.img-size {
  width: 1.25rem;
}

.modal-btn:hover,
.modal-btn-mobile:hover {
  background-color: #d3573c;
  color: rgb(17, 16, 16);
}

.filter-dropdown-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin: 1rem 3%;
  margin-bottom: 55px;
  font-weight: 500;
}

.dropdown-menu {
  display: contents;
}

#sortBy {
  margin-right: 2rem;
  font-size: 1.2rem;
}

.filter-select {
  display: flex;
  flex-direction: column;
}

.filter-dropdown-wrapper span {
  margin-right: 2rem;
  font-size: 1.2rem;
}

.filter-select__trigger {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem 0 1rem;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  height: 3.5rem;
  line-height: 6rem;
  background: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.filter-options-container {
  top: 27.15rem;
  background: #901c1c;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  min-width: 168px;
}

.filter-select.open .filter-options-container {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.filter-select.open .filter-select__trigger {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-option {
  position: relative;
  display: block;
  margin: 0 1rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  line-height: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.filter-option:hover {
  cursor: pointer;
  text-decoration: underline;
}

.filter-option.selected {
  display: none;
}

.filter-option:not(.selected) {
  border-top: solid 0.1rem #fff;
}

/* -------------------------Lightbox---------------------------------------- */

#lightbox {
  display: none;
  position: fixed;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.446);
  z-index: 600;
  animation: lightboxIn 0.5s;
}

#lightbox.active {
  display: flex;
}

.lightbox__close,
.lightbox__next,
.lightbox__previous {
  border: none;
  font-size: 2rem;
  color: #d3573c;
  background: transparent;
}

.lightbox__next,
.lightbox__previous {
  position: fixed;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 100%;
  margin-top: -14px;
  z-index: 11;
}

.lightbox__previous {
  right: auto;
  left: 0;
}

.lightbox__close {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 12;
}

#lightbox button {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s;
}

#lightbox button:hover {
  opacity: 0.8;
}

.lightbox__container img {
  max-width: 100%;
  height: auto;
  animation: lightboxIn 0.5s;
}

.lightbox__container video {
  max-width: 100%;
  height: auto;
  animation: lightboxIn 0.5s;
}

.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
  z-index: 500;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* -------------------------End of Lightbox-------------------------------- */

.close-btn {
  position: relative;
  bottom: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1.modal-title {
  margin-top: -60px;
  /* margin-bottom: 10px; */
  font-size: 1.5rem;
  color: #312e2e;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 1.2rem;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 0.8rem;
}

form input {
  width: 100%;
  height: auto;
  font-size: initial;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0 0 0;
  line-height: 1.4;
}

form textarea {
  width: 100%;
  height: 130px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.formData[data-error-visible="true"] .text-control {
  border: #e548586f;
  box-shadow: 0 0 20px #901c1c;
}

.formData[data-error-visible="false"] .text-control {
  border: #48e5846a;
  box-shadow: 0 0 20px #42e6a7;
}

.formData small {
  color: #fff;
  text-shadow: #040404 0px 3px 5px;
  font-size: 0.8rem;
}

.modal-btn-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 300px;
  padding: 0.9rem 0.5rem;
  font-size: 1.2rem;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.dialog.opened {
  visibility: visible;
  transition: visibility 0s;
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(231 226 226 / 65%);
  overflow: hidden;
  transition: opacity 0.4s 0.2s ease-out;
  z-index: 100;
}

.dialog.opened .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.dialog {
  visibility: hidden;
  transition: visibility 0.4s;
}

.dialog-windows {
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #db8876;
  border-radius: 0.6rem;
  color: black;
  width: 350px;
  height: 65vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 100px));
  padding: 1.5rem;
  z-index: 150;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.dialog.opened .dialog-windows {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}

.sent {
  height: 20vh;
}

.sent h1.modal-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: baseline;
  margin-top: -60px;
  margin-left: 35px;
}

.sent .img-size {
  position: relative;
  bottom: 20px;
}

.btn-submit.button {
  background: #901c1c;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 0.6rem;
  width: auto;
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 0;
  cursor: pointer;
}

.btn-submit.button:hover {
  background-image: linear-gradient(
    90deg,
    #f6fdff 0%,
    #db8876 49%,
    #f06161 80%,
    #ecf0f2 100%
  );
  animation: slidebg 2s 0.3s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 30vw;
  }
}

.arrow {
  position: relative;
  height: 0.9rem;
  width: 0.9rem;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.arrow::before {
  left: -0.05rem;
  transform: rotate(45deg);
  background-color: #fff;
}

.arrow::after {
  left: 0.55rem;
  transform: rotate(-45deg);
  background-color: #fff;
}

.open .arrow::before {
  left: -0.1rem;
  transform: rotate(-45deg);
}

.open .arrow::after {
  left: 0.5rem;
  transform: rotate(45deg);
}

.total-likes-container {
  opacity: 1;
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  position: fixed;
  padding: 0.5rem 1rem;
  bottom: 0;
  right: 5%;
  background-color: #db8876;
  height: auto;
  width: auto;
  font-size: 1.2rem;
  border-radius: 0.6rem 0.6rem 0 0;
  color: black;
  z-index: 500;
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}

.total-likes {
  width: 60px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.price-container {
  width: 115px;
  display: flex;
  justify-content: flex-end;
}

h1.main-title {
  font-size: 1.8rem;
  font-weight: 300;
  color: #901c1c;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo {
  height: 36px;
  margin-left: 50%;
  cursor: pointer;
}

.photographers_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.photographer-card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer-card h2 {
  margin: 0;
  text-align: center;
  color: #d3573c;
  font-size: 1.5rem;
  font-weight: 300;
}

.card-location {
  color: #901c1c;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

.card-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  cursor: pointer;
}

.card-img:hover {
  box-shadow: 0 0.625rem 0.625rem olive;
}

.card-photographer-link {
  min-width: 258px;
  text-align: center;
  text-decoration: none;
  filter: sepia(0);
  transition: 0.3s ease-in-out;
}

.card-photographer-link:hover {
  transform: scale(1.02);
  filter: sepia(100%);
  transition: 0.3s ease-in-out;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.card-tagline,
.card-price {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5;
}

.card-tagline {
  margin: 0;
  font-weight: 600;
}

.card-price {
  color: #706f6f;
}

.media_card_container {
  display: grid;
  position: relative;
  top: -50px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  column-gap: 66px;
  row-gap: 70px;
}

.media_card {
  color: #901c1c;
}

.media_card__media,
.img-card,
.video-card {
  width: 100%;
  height: 35vh;
  border-radius: 0.2rem;
  object-fit: fill;
  cursor: pointer;
  pointer-events: visible;
  transition: 0.7s ease-in-out;
}

.lightbox__container .img-card,
.lightbox__container .video-card {
  border-radius: 0.2rem;
  cursor: pointer;
  transform: none;
  box-shadow: none;
  transition: none;
  height: 79vh;
}

.lightbox__container .media_card_title {
  width: 100%;
  display: flex;
  justify-content: initial;
  align-items: center;
}

.lightbox__container .media_card_footer {
  padding: 0;
  position: absolute;
  bottom: 28%;
  left: 12.5%;
  align-items: center;
  color: #d3573c;
}

.lightbox__container .media_card_likes {
  display: none;
}

.lightbox__container .slide {
  height: 29vh;
}

.img-card:hover,
.video-card:hover {
  transform: rotate3d(2, -1, 1, 5deg);
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  box-shadow: -0.5px 60px 65px #121212a5;
  animation: morph 2s ease-in-out infinite;
}
@keyframes morph {
  0% {
    border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  }
  50% {
    border-radius: 50% 60% 50% 50% / 50% 50% 50% 60%;
  }
  100% {
    border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  }
}

.play-icon {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: 0.6s ease-in-out;
}

.media_card__media:hover .play-icon {
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.fa-play-circle {
  position: absolute;
  margin-top: -335px;
  font-size: 3rem;
  background: transparent;
  color: #fbfbfb96;
}

.media_card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  font-size: 1.5em;
}

.media_card_title {
  width: 215px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media_card_likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-heart {
  border: none;
  background: transparent;
  margin-left: 10px;
  color: #901c1c;
  font-size: 1.5rem;
  margin-top: 2.5px;
  cursor: pointer;
}

.heart-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 60px;
}

/* ---------------------- MEDIA QUERIES -------------------------- */

@media screen and (min-width: 900px) {
  #main,
  .main {
    margin: 0 12rem;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  #main,
  .main {
    margin: 0 0.9rem;
    height: auto;
  }
  .banner-img img {
    width: 7.5rem;
    height: 9.6875rem;
    border-radius: 50%;
    padding: 1.25rem 0 0.9375rem 0;
    object-fit: fill;
  }
}

@media screen and (min-width: 678px) {
  .modal-btn {
    display: block;
  }
  .modal-btn-mobile {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .photographers_section {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
  .media_card_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
  }
  .lightbox__container {
    margin-left: 100px;
    margin-right: 100px;
    min-height: 60vh;
  }
}

@media screen and (max-width: 480px) {
  h1.main-title {
    width: 100%;
    justify-content: center;
  }
  .photographers_section {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .media_card_container {
    grid-template-columns: 1fr;
  }
  .dialog-windows {
    width: 90vw;
  }
  .total-likes-container {
    right: 1%;
    font-size: .8rem;
    width: 38%;
    padding: 7px;
}
.heart-counter {
  left: 35px;
  bottom: 8px;
}
.modal-btn-mobile {
  padding: 0.6rem 0.5rem;
  font-size: 1rem;
  bottom: 2.5rem;
}
.media_card_footer, .media_card_footer {
  font-size: 1.2em;
}
}
